# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Environment variables
.env

# Google API credentials
key/
client_secret*.json
*.token.json
.mcp_google_spreadsheet.json

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 